#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: 'super';
  src: url('./assets/Super Glue.ttf') format('truetype');
}

@font-face {
  font-family: 'super outline';
  src: url('./assets/Super Glue Outline.ttf') format('truetype');
}

@font-face {
  font-family: 'handwrite';
  src: url('./assets/Peax Handwritinglight.ttf') format('truetype');
}

@font-face {
  font-family: 'handwrite bold';
  src: url('./assets/Peax Handwritingbold.ttf') format('truetype');
}

