@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color palatte */
  --dark-green: #3f6a5b;
  --light-blue: #8EA9C1;
  --brown: #AD8A64;
  --light-brown: #C79650;
  --light-red: #BE647F;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 101vh;
}

.transitionDuration {
transition-duration: 1s;
}
